doctype html
html
  head
    title Nritya Academy
    block scripts
    block style

  body
    //- navigation bar section
    nav#navbar.navbar
        ul
            li #[a(href='/') Home]
            li #[a(href='#about') About Us]
            li #[a(href='#service') Services]
            li #[a(href='#event') Events]
            li #[a(href='#contact') Contact Us]
            
        //- button#loginButton.loginButton #[a(href= '/login') Login]

    block content

    //- footer section
    section#footer.footer
        p Copyright &#169; 2020 Nritya Academy. | All Rights Reserved
