doctype html
html
  head
    title Nritya Academy
    block scripts
    block style
      style 
        include ../static/submission.css

  body
    div
        p
        | Ooops...
        p
        |   Form submission Failed.